<!DOCTYPE html>
{% include 'navbar.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}ABOUT US{% endblock %}</title>
</head>
<body>
{% block header %}

{% endblock header %}

<div class="container" style="background-color: #ebebe0;">
    <h3>About us </h3>
    <hr>
    <div class="content" >
        Shree Automobiles is a leading Distributor across India,
        developer and R&D Support Team to many manufactures around the Globe.<br>
<p> Solution Likes:<br>
*OOE i.e &nbsp; Original Optional Equipment’s.<br><br>
*OOA i.e  &nbsp;Original optional Accessories. <br><br>
*AOA i.e  &nbsp;Aftermarket Optional Accessories.<br><br>
*OOIS i.e &nbsp;Original Optional Integrated Solutions.<br><br>
*AOIS i.e  &nbsp;Aftermarket Optional Integrated Solutions in the India in 2010. </p>
<p>
Auto Connections is a leading provider of OOE, AOA, OOA, OOIS, and AOIS products for the automotive environment. Product Precision, Quality, Service and Innovation has been its core values. Shree Automobiles has a reputation for bringing innovative cutting edge products that integrated aftermarket or OEM Features to the automobile. We take pride in that our products are engineered, tested and R&D by us and Re-designed and molded for the Indian market.
Our products are tested and provided with - in mind set that feature plug-and solution for ease of installation with all our product range designed and tested to meet and exceed an OEM level of quality.
<br> Shree Automobiles you can trust that we will be first to market new exciting new innovative product range to enhance the driving experience without disrupting the vehicles’ electronics.<br>
</p>
<p style="text-align: center;">Thanks you for considering Shree Automobiles product range for your vehicle needs and driving pleasure.</p>


    </div>
</div>
{% include 'footer.html' %}
{% block footer %}

{% endblock footer %}
</body>
</html>
