<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link href="{% static 'css/style.css'%}" type="text/css" rel="stylesheet">
</head>
<body>

<div class="hero">
    <div class="highway"></div>
    <div class="city"></div>
    <div class="car">
        <img src="{% static 'images/car.png' %}">
    </div>
    <div class="wheel">
        <img src="{% static 'images/wheel.png' %}" class="back-wheel">
        <img src="{% static 'images/wheel.png' %}" class="front-wheel">
    </div>


</div>
</body>
</html>