<!DOCTYPE html>
{% include 'navbar.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Products{% endblock %}</title>
    <style>
        #container1{
        background-color:#e6e6e6;
        width: 100%;
        height: 500px;
        overflow: hidden;
        overflow-y: scroll;
        }

        .fonts{
        font-family: 'Source Serif Pro', serif;
        color: black;
        }
    </style>
</head>
<body>
{% block header %}

{% endblock header %}
<br>
<div class="container" id="container1">
  <div class="row">
      {% for i in pictures %}
    <div class="col-lg-6">
        <h4 class="fonts">Product Name:&nbsp&nbsp{{i.name|title}}</h4>
        <h4 class="fonts">Product Id:&nbsp&nbsp{{i.product_id}}</h4>

        <div class="card card-body">
            <img src="{{i.image.url}}" style="width:100%;height:auto;">
        </div>
        <hr>
    </div>
      {% endfor %}
  </div>
</div>


{% include 'footer.html' %}
{% block footer %}

{% endblock footer %}
</body>
</html>