<!DOCTYPE html>
{% include 'navbar.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Products{% endblock %}</title>
    <style>
        .row{
        border: 2px solid black;
        }
        .card-body{
        background-color:skyblue;
        }
        .main{
        background-color:blue;
        }
    </style>
</head>
<body>
{% block nav_block %}
{% endblock %}
<br><div class="container">
  <div class="row">
    <div class="col-lg-6">
      welcome
        <hr>
        <div class="card card-body">

        </div>

    </div>
    <div class="col-lg-6">
      welcome
        <hr>
        <div class="card card-body">
            sgsdffs
        </div>

    </div>
</div>
</div>
</div>
</body>
</html>